<!DOCTYPE html>

<head>
  <html lang="en">
  <%- include('../partials/head'); -%>
  <% if (content.header) { %>
    <%- include('../' + content.header); -%>
  <% } %>
</head>

<body>
    
    <%- include('../partials/menu'); -%> 
    
    <div class="container-fluid body">
      <div class="row">
          <div class="col-md"></div>  
          <div class="col-md-4">
            <% if (content.body) { %>
              <%- include('../' + content.body); -%>
            <% } %>
          </div>  
        <div class="col-md"></div>  
      </div>  
    </div>
    
    
    <%- include('../partials/footer'); -%>
    
</body>

<% if (content.footer) { %>
  <%- include('../' + content.footer); -%>
<% } %>
<%- include('../partials/script'); -%>

</html>
