<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('../partials/head'); -%> 
</head>

<body>

<%- include('../partials/menu'); -%> 

<div class="body">    
  <div class="container-fluid body">
    <div class="row">
        <div class="col-md"></div>  
        <div class="col-md-4">
          <h2><%= page.title %></h2>
          <div>
            <p>Paris has some questionable ideas...</p>
            <img src="/images/pawi.png">
          </div>
        </div>  
      <div class="col-md"></div>  
    </div>  
  </div>
</div>

<%- include('../partials/footer'); -%>

</body>

<%- include('../partials/script'); -%>

</html>
